* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: orangered;

}

/* header and nav style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;

}

.title {
    font-weight:300;
    font-size: 40px;
}

.btn {
    height: 64px;
    color: white;
    background-color: orangered;
    border-radius: 5px;
    font-weight: 700;
    height: 64px;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 50px;



}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

/* banner style */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner head {
    font-weight: 700px;
    font-size: 85px;


}

.sub title {
    font-weight: 600px;
    font-size: 45px;
    margin-bottom:200px;
}

.description {
    font-size: 16;
    font-weight: 400;
}